.header{
    background-color: $desaturated_dark_cyan;
    background-image: url('../../images//bg-header-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 15vh;
    width: 100vw;
}