.main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & .wrapper{
        width: min(110rem, 95%);
        background-color: rgba(0, 0, 0, .2);
    }
}