.section-one{
    height: 100vh;
    // height: calc(100vh - 12rem);
    padding-bottom: 15rem;

    @media screen and (max-width: $mobile){
        height: 100%;
        padding: 5rem 5rem 15rem;
    }    
}

.guide, 
.illustration{    
    flex: 1;
    
    @media screen and (max-width: $mobile){
        flex: none;
    }    

}

@media screen and (max-width: $mobile) {
    & .guide{
        order: 2;
    }

    & .illustration{    
        order: 1;
    }
}

.guide{    
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile) {
        justify-content: center;
        align-items: center;
    }
    
    &__title{
        font-family: $raleway;
        font-size: 4.6rem;    
        line-height: 6.2rem;
        
        color: $very_dark_blue;        
    
        @media screen and (max-width: $mobile) {
            text-align: center;
            font-size: 2.3rem;
            line-height: 3.2rem;
        }
    }
    
    &__description{
        color: $desaturated_blue;
        font-size: 2.1rem;
        margin: 2rem 0;

        @media screen and (max-width: $mobile) {
            text-align: center;
        }
    }

        &__form{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            width: 85%;

            @media screen and (max-width: $mobile) {
                width: 100%;
            }
     
            &_input,
            & .btn-submit{
                padding: 1rem;
                border-radius: .5rem;
            }   
    
            &_input{
                outline: none;
                border: 1px solid black;
                flex: 2;
                &::placeholder{
                    color: $light-gray;
                }   
            }

            & .btn-submit{
                flex: 1.2;
                color: #fff;
                background-color: $bright_blue;
                cursor: pointer;
            }
        }
    }

    .illustration{

        & img{
            height: 100%;
            width: 100%;   
        }
    }