.signup{
    background-color: $desaturated_blue;
    padding-top: 8rem;
    padding-bottom: 8rem;
    justify-content: space-between;

    

    &__description,
    & .guide__form{
        width: 40%;
        
        @media screen and (max-width: $mobile){
            width: 100%;
        }
    }

    &__description{
        color: #fff;

        &_title{
            font-size: 2.6rem;
            margin-bottom: 2rem;
        }

        &_text{
            font-size: 1.5rem;
        }
    }

    & .guide__form{
        flex-direction: column;
        align-items: start;
        gap: 1rem;

        &_input{
            width: 80%;
        }

        & .btn-submit{
            width: 35%
        }
        
        @media screen and (max-width: $mobile) {
            &_input{
                width: 60%;
            }
       
            & .btn-submit{
                width: 35%;
            }
        }

        @media screen and (max-width: 375px) {
            &_input{
                width: 100%;
            }
       
            & .btn-submit{
                width: 100%;
            }
        }
    }
}