$primary: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);

$fontsize: 1.5rem;
$regular: 400;
$bold: 700;

@mixin flex($direction: column, $ai: center, $jc: center, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;
}

main{
    height: 100vh;
    width: 100vw;
    background-color: $very-dark-blue;

    @include flex($direction: row);
}

.wrapper{
    height: 38.2rem;
    width: min(90%, 40rem);   
    background-color: $dark-blue;
    border-radius: 4rem;
    padding: 3rem;

    & .rating{
        &__container{
            @include flex($gap: 2.5rem, $ai: flex-start);
        }

        &__star{
            @include flex;

            height: 5rem;
            width: 5rem;
            
            background-color: rgba($medium-grey, 20%);
            border-radius: 100vmax;
        }

        &__info{
            h1{
                color: $white;
                font-weight: $bold;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            
            p{
                color: $light-grey;
                font-weight: $regular;
                font-size: 1.4rem;
            }
        }

        &__list{
            width: 100%;
            @include flex($direction: row, $gap: 2rem);

            &_btn{
                width: 20%;
                height: 5.2rem;
                border: 0;
                border-radius: 100vmax;
                color: $light-grey;
                background-color: rgba($medium-grey, 20%);
                cursor: pointer;
                transition: all 150ms ease;
            }
        }

        &__cta{
            width: 100%;

            font-size: 1.6rem;
            font-weight: $regular;
            padding: 1.5rem 0;
            letter-spacing: .1rem;
            color: #fff;
            
            border: 0;
            border-radius: 100vmax;
            background-color: $primary;
            cursor: pointer;
        }
    }
}