//  Primary

$desaturated_dark_cyan: hsl(180, 29%, 50%);

//  Neutral

$light_grayish_cyan: hsl(180, 52%, 96%); // Background
$light_grayish_cyan: hsl(180, 31%, 95%); // Filter Tablets
$dark_grayish_cyan: hsl(180, 8%, 52%);
$very_dark_grayish_cyan: hsl(180, 14%, 20%);
$white: #fff;

$mobile: 450px;